@import "tailwindcss";

/* --radius-*   → rounded-*
--color-*    → text-*, bg-*, border-*
--spacing-*  → p-*, m-*, gap-* */

@theme {
  --color-powder-blush: #FEC5BB;
  --color-almond-silk: #FCD5CE;
  --color-soft-blush: #fae1dd;
  --color-seashell: #f8edeb;

  --bone-mist: #e8e8e4;
  --sage-tint: #d8e2dc;

  --color-warm-sand: #ece4db;
  --color-powder-petal: #ffe5d9;
  --color-peach-fuzz: #ffd7ba;
  --color-peach-glow: #fec89a;
  --radius-1: 9999px;
  --radius-2: 40px;
  --radius-3: 32px;
  --radius-4: 24px;
  --radius-5: 14px;
  --radius-6: 8px;

 /*  ////////Text colors/// */
  --color-dark-brown:#514441;
  --color-light-brown:#7F534C;
  --color-black: #1F1A1A;
  --color-white: #FFFFFF;
  --color-red: #BA1A1A;
  --color-dark-green: #535D58;


 /* ////////Text sizes//// */
 --h1:48px;
 --h2:40px;
 --h3:32px;
 --h4:24px;
 --h5:18px;
 --h6:16px;
 --medium:18px;
 --regular:16px;
 --small:12px;
   

}


body {
  background-color: #D8E2DC;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.create-wish-page,
.edit-wish-page,
.wish-page,
.wish-list-page {
  background-color: white;
  border: 2px solid #A5A58D;
  border-radius: 12px;
  padding: 20px;
  margin: 30px auto;
  width: 70%;
}

h1 {
  text-align: center;
  color: #6B705C;
}


input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #A5A58D;
  border-radius: 8px;
  box-sizing: border-box;
}



button {
  background-color: #A5A58D;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  margin-top: 10px;
}

button:hover {
  background-color: #6B705C;
  cursor: pointer;
}


.wish-card {
  background-color: #FFE8D6;
  border: 1px solid #DDBEA9;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}
